body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #853eee;
  color: #ffffff; 
}

/* Styling specifically for the navigation links at the top */
.top-links a:link,
.top-links a:visited,
.top-links a:active {
  color: #ffffff; /* Makes the links white */
  text-decoration: none; /* Removes the underline */
  padding: 5px 10px; /* Gives the links some space */
}

.top-links a:hover {
  color: #ff0000; /* Changes color when you hover */
  text-decoration: underline; /* Adds underline on hover */
}

/* Styling for other text elements */
p {
  color: #ffffff;
  font-family: fantasy;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

h3 {
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}